body {
  background: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  *{
    box-sizing: border-box;
  }

  .component-groups {

  }

  .btn {
    display: inline-block;
    height: 34px;
    width: 80px;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: none;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    vertical-align: middle;
    line-height: 34px;
    padding: 0;
    box-sizing: border-box;
    &:hover {
      text-decoration: none;
    }
  }

  .btn-default {
    color: #333;
    border-color: #ccc;
    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }

  .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    &:hover {
      color: #fff;
      background-color: #286090;
      border-color: #204d74;
    }
  }

  .btn-link {
    color: #337ab7;
    border: none;
    &:hover {
      color: #23527c;
      text-decoration: underline;
    }
  }

  .dropdown {
    display: inline-block;
    position: relative;
    border-radius: 4px;
    padding: 10px 15px;
    .dropdown-btn {
      color: #337ab7;
      text-decoration: none;
    }
    .triangle {
      display: inline-block;
      content: '';
      width:0;
      height:0;
      border-width:4px;
      border-style: solid;
      border-color: #337ab7 transparent transparent transparent;
    }
    .drowpdown-list{
      display: none;
      position: absolute;
      min-width: 160px;
      top:100%;
      left: 0;
      margin: 0;
      list-style: none;
      padding: 5px 0;
      border:solid 1px rgba(0,0,0, 0.15);
      box-shadow: 0 6px 12px rgba(0,0,0,0.175);
      border-radius: 4px;
      background-color: #fff;
      z-index: 1000;
      &:hover {
        display: block;
      }
      > li {
        padding: 10px 15px;
        white-space: nowrap;
        &:hover {
          background-color: #eaeaea;
        }
      }
    }
    &:hover {
      background-color: #eee;
      .drowpdown-list {
        display: block;
      }
    }
  }

}
